[project]
	description = web based modular utilities
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/shanu Khera (kherashanu)
[access "refs/for/refs/*"]
	read = group user/shanu Khera (kherashanu)
	push = group user/shanu Khera (kherashanu)
	label-Code-Review = -2..+2 group user/shanu Khera (kherashanu)
	label-Verified = -1..+1 group user/shanu Khera (kherashanu)
	rebase = group user/shanu Khera (kherashanu)
	removeReviewer = group user/shanu Khera (kherashanu)
	submit = group user/shanu Khera (kherashanu)
[access "refs/heads/*"]
	read = group user/shanu Khera (kherashanu)
	create = group user/shanu Khera (kherashanu)
	push = +force group user/shanu Khera (kherashanu)
	pushMerge = group user/shanu Khera (kherashanu)
[access "refs/tags/*"]
	push = +force group user/shanu Khera (kherashanu)
	pushTag = group user/shanu Khera (kherashanu)
	pushSignedTag = group user/shanu Khera (kherashanu)
